<div class="container">
  <h2 class="new-post-title">Edit Post</h2>

  <%= form_with model: @post, url: user_post_path, class: 'post-form' do |f| %>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div>
      <%= f.label :text %>
      <%= f.text_area :text %>
    </div>
      <%= f.submit %>
    <%= link_to "Back", :back, class: 'back-btn' %>
  <% end %>
</div>
