<div class="container">
  <h2 class="new-post-title">Edit Post</h2>
  <% if can? :manage, @post %>
    <%= form_with model: @post, url: user_post_path, class: 'post-form' do |f| %>
      <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <div>
        <%= f.label :text %>
        <%= f.text_area :text %>
      </div>
        <%= f.submit %>
    <% end %>
  <% else %>
    What are you doing here? Go back!!
  <% end %>
  <%= link_to "Back", :back, class: 'back-btn' %>
</div>
