<div class="container">
  <%= render @user %>
  <%@posts.each do |post|%>
    <%= render post %>
    <div class='post-comments'>
      <% if post.comments_counter == 0 %>
        <p><strong>No comments yet</strong></p>
      <% else %>
        <% post.recent_comments.each do |comm| %>
         <p><strong><%= comm.author.name %>: </strong><%=comm.text%></p>
        <%end%>
      <%end%>
    </div>
  <%end%>


  <%= link_to user_path(@user), class: 'all-post-btn' do %>
    Back to <strong><%= @user.name %></strong> profile
  <% end %>
</div>
