<div class="container">

  <%= render @user %>
  <%= render @post %>

  <div class= "post-comments">
    <% if @post.comments_counter == 0 %>
      <p><strong>No comments yet</strong></p>
    <% else %>
      <%@comments.includes(:author).each do |comment|%>
          <p><strong><%= comment.author.name %>: </strong><%= comment.text %></p>
      <%end%>
    <% end %>
  </div>

  <%= render "form" %>

  <%= link_to "Back to posts", user_posts_path, class: 'all-post-btn' %>
</div>
